---
import { ClientRouter } from 'astro:transitions';

import BaseHead from '@/components/BaseHead.astro';
import { NavigationProvider } from '@/components/elements/navigation-provider';
import Banner from '@/components/layout/banner';
import Footer from '@/components/layout/footer';
import Navbar from '@/components/layout/navbar';

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <ClientRouter />
    <BaseHead title={title} description={description} />
    <meta name="view-transition" content="same-origin" />
  </head>
  <body
    class={`h-screen antialiased flex flex-col [--header-height:calc(var(--spacing)*14)] lg:[--header-height:calc(var(--spacing)*23)]`}
  >
    <NavigationProvider client:load currentPath={currentPath}>
      <Banner url="https://www.shadcnblocks.com/template/lumen" client:load />

      <Navbar currentPage={currentPath} client:load />
      <main class="flex-1" style="view-transition-name: main;">
        <slot />
      </main>
      <Footer currentPage={currentPath} />
    </NavigationProvider>
  </body>
</html>
